

{% extends 'base.html' %}

{% block title %}
    <title>Entrar na conta</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../static/css/sign_in.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="text-center"><fieldset>Login</fieldset></div>

        <form action="{% url 'sign-in' %}" autocomplete="off" method="post">
            {% csrf_token %}
            {% include 'sign_in_form.html' %}

            <div class="row mt-5">
                <div class="col-5"></div>
                <div class="col-2 text-center mt-2">
                    <input class="btn btn-dark" type="submit" value="Entrar/Login">
                </div>
                <div class="col-5"></div>
            </div>
        </form>

    </div>

    <script type="text/javascript" src="../../static/js/sign_in.js"></script>
{% endblock %}
