

<!-- Input 1: Primeiro nome -->
<div class="row mt-5">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="first_name">Campo para escrever o primeiro nome</label>
    <input type="text" class="form-control" id="first_name" max="100" min="2" name="first_name" placeholder="Seu nome" required>
  </div>

  <div class="col-4"></div>
</div>

<!-- Input 2: Sobrenome -->
<div class="row mt-3">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="last_name">Campo para escrever o sobrenome</label>
    <input type="text" class="form-control" id="last_name" max="100" min="2" name="last_name" placeholder="Seu sobrenome" required>
  </div>

  <div class="col-4"></div>
</div>

<!-- Input 3: Nome de usuário -->
<div class="row mt-3">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="username">Campo para escrever o nome de usuário/apelido</label>
    <input type="text" class="form-control" id="username" max="100" min="2" name="username" placeholder="Seu nome de usuário" required>
  </div>

  <div class="col-4"></div>
</div>

<!-- Input 4: E-mail -->
<div class="row mt-3">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="email">Campo para escrever e-mail</label>
    <input type="email" class="form-control" id="email" max="100" min="2" name="email" placeholder="Seu e-mail" required>
  </div>

  <div class="col-4"></div>
</div>

<!-- Input 5: Senha -->
<div class="row mt-3">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="password">Campo para escrever senha</label>
    <input type="password" class="form-control" id="password" max="100" min="2" name="password" placeholder="Sua senha" required>
  </div>

  <div class="col-4"></div>
</div>

<!-- Input 6: Repetir senha -->
<div class="row mt-3">
  <div class="col-4"></div>

  <div class="col-4">
    <label class="sr-only" for="password_confirm">Campo para reescrever a senha</label>
    <input type="password" class="form-control" id="password_confirm" max="100" min="2" name="password_confirm" placeholder="Sua senha novamente" required>
  </div>

  <div class="col-4"></div>
</div>
